# Node & Dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment Variables (Keep secrets safe!)
.env
.env.local

# Build outputs
dist/
build/

# OS Files
.DS_Store
Thumbs.db
externals/
*.tar.gz
